[run]
source = .
omit =
    build/*
    **/__pycache__/*
    *.spec
    windows_bundle/*
    EmberEye_*/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
